<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trip Buddy Login</title>
    <style>
    .register {
        display: inline-block;
        padding: 20px;
    }
    .login {
        display: inline-block;
        vertical-align: top;
        margin: auto 50px;
        padding: 20px;
    }
    </style>
</head>
<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class='register'>
        <form action='/register' method='post'>
            {% csrf_token %}
            <h1>Register</h1>
            <p>First Name: <input type='text' name='first_name'></p>
            <p>Last Name: <input type='text' name='last_name'></p>
            <p>Email: <input type='text' name='email'></p>
            <p>Password: <input type='password' name='pw'></p>
            <p>Confirm Password: <input type='password' name='cpw'></p>
            <input type='submit' value='Register'>
        </form>
    </div>
    <div class='login'>
        <form action='/login' method='post'>
            {% csrf_token %}
            <h1>Login</h1>
            <p>Email: <input type='text' name='email'></p>
            <p>Password: <input type='password' name='pw'></p>
            <input type='submit' value='Log In'>
        </form>
    </div>
</body>
</html>